{% extends 'base.html' %}
{% load static %}

{% block content_wrapper %}
<style>
    :root {
        --app-bg-dark: #01081f;
        --app-bg-before: linear-gradient(180deg, rgba(1,8,31,0) 0%, rgba(1,8,31,1) 100%);
        --app-bg-before-2: linear-gradient(0deg, rgba(1,8,31,0) 0%, rgba(1,8,31,1) 100%);
        --app-bg-light: #F5F5F5;
        --app-logo: #3d7eff;
        --nav-link: #5e6a81;
        --nav-link-active: #fff;
        --list-item-hover: #0c1635;
        --main-color: black;
        --secondary-color: #5e6a81;
        --color-light: rgba(52, 129, 210, .2);
        --warning-bg: #ffe5e5;
        --warning-icon: #ff8181;
        --applicant-bg: #e3fff1;
        --applicant-icon: #61e1a1;
        --close-bg: #fff8e5;
        --close-icon: #fdbc64;
        --draft-bg:  #fed8b3;
        --draft-icon:  #e9780e;
        
      }

    .chart-row {
        display: flex;
        justify-content: space-between;
        margin: 0 -8px;
        
        &.three .chart-container-wrapper {
          width: 33.3%;
          
          .chart-container { justify-content: space-between; }
        }
        
        &.two {
          .big {
            flex: 1;
            max-width: 77.7%;
            
            .chart-container {
              flex-direction: column;
            }
          }
          
          .small {
            width: 33.3%;
            
            .chart-container {
              flex-direction: column;
              + .chart-container { margin-top: 16px; }
            }
          }
        }
      }

      
    .line-chart {
    width: 100%;
    margin-top: 24px;
    }

    .chart-container {
    width: 100%;
    border-radius: 10px;
    background-color: var(--app-bg-light);
    padding: 16px;
    display: flex;
    align-items: center;
    
    &.applicants {
        max-height: 336px;
        overflow-y: auto;
    }
    }

    .chart-container-wrapper {
    padding: 8px;
    }

    .chart-info-wrapper {
    flex-shrink: 0;
    flex-basis: 120px;
    
    h2 {
        color: var(--secondary-color);
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 0 8px 0;
    }
    
    span {
        color: var(--main-color);
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
    }
    }

    .chart-svg {
    position: relative;
    max-width: 90px;
    min-width: 40px;
    flex: 1;
    }

    .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 1.2;
    }

    .circle {
    fill: none;
    stroke-width: 1.6;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
    }

    .circular-chart {
    &.orange {
        .circle { stroke: #FFA454; }
        .circle-bg {stroke: #F1D6BE; }
    }
    
    &.blue {
        .circle { stroke: #53FBF5; }
        .circle-bg { stroke: #C1E5E4; }
    }
    
    &.pink {
        .circle { stroke: #F9A1F0; }
        .circle-bg { stroke: #DEC1DB; }
    }
    }

    .percentage {
    fill: black;
    font-size: 0.5em;
    text-anchor: middle;
    font-weight: 400;
    }

    @keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
    }

    .chart-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
    
    h2 {
        margin: 0;
        color: var(--main-color);
        font-size: 12px;
        line-height: 16px;
        opacity: .8;
    }
    
    span {
        color: var(--app-logo);
        font-size: 12px;
        line-height: 16px;
    }
    }

    .line-chart {
        width: 100%;
        margin-top: 24px;
    }
    
    .chart-container {
        width: 100%;
        border-radius: 10px;
        background-color: var(--app-bg-light);
        padding: 16px;
        display: flex;
        align-items: center;
        
        &.applicants {
        max-height: 336px;
        overflow-y: auto;
        }
    }
    
    .chart-container-wrapper {
        padding: 8px;
    }
    
    .chart-info-wrapper {
        flex-shrink: 0;
        flex-basis: 120px;
        
        h2 {
        color: var(--secondary-color);
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 0 8px 0;
        }
        
        span {
        color: var(--main-color);
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        }
    }
    
    .chart-svg {
        position: relative;
        max-width: 90px;
        min-width: 40px;
        flex: 1;
    }
    
    .circle-bg {
        fill: none;
        stroke: #eee;
        stroke-width: 1.2;
    }
    
    .circle {
        fill: none;
        stroke-width: 1.6;
        stroke-linecap: round;
        animation: progress 1s ease-out forwards;
    }
    
    .circular-chart {
        &.orange {
        .circle { stroke: #FFA454; }
        .circle-bg {stroke: #F1D6BE; }
        }
        
        &.blue {
        .circle { stroke: #53FBF5; }
        .circle-bg { stroke: #C1E5E4; }
        }
        
        &.pink {
        .circle { stroke: #F9A1F0; }
        .circle-bg { stroke: #DEC1DB; }
        }
    }
    
    .percentage {
        fill: black;
        font-size: 0.5em;
        text-anchor: middle;
        font-weight: 400;
    }
    
    @keyframes progress {
        0% {
        stroke-dasharray: 0 100;
        }
    }
    
    .chart-container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 12px;
        
        h2 {
        margin: 0;
        color: var(--main-color);
        font-size: 12px;
        line-height: 16px;
        opacity: .8;
        }
        
        span {
        color: var(--app-logo);
        font-size: 12px;
        line-height: 16px;
        }
    }
    
</style>
<div class="mid-page">
    <h1>Résumé de vos dépenses</h1>
    <div class="chart-row three">
        <div class="chart-container-wrapper">
          <div class="chart-container">
            <div class="chart-info-wrapper">
              <h2>Dépenses mensuelles</h2>
              <span>1.2 K</span>
            </div>
            <div class="chart-svg">
              <svg viewBox="0 0 36 36" class="circular-chart pink">
        <path class="circle-bg" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"></path>
        <path class="circle" stroke-dasharray="30, 100" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"></path>
        <text x="18" y="20.35" class="percentage">30%</text>
      </svg>
            </div>
          </div>
        </div>
        <div class="chart-container-wrapper">
          <div class="chart-container">
            <div class="chart-info-wrapper">
              <h2>Economies mensuelles</h2>
              <span>0.5 K</span>
            </div>
            <div class="chart-svg">
              <svg viewBox="0 0 36 36" class="circular-chart blue">
        <path class="circle-bg" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"></path>
        <path class="circle" stroke-dasharray="70, 100" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"></path>
        <text x="18" y="20.35" class="percentage">70%</text>
      </svg>
            </div>
          </div>
        </div>
        <div class="chart-container-wrapper">
          <div class="chart-container">
            <div class="chart-info-wrapper">
              <h2>Objectif mensuel défini</h2>
              <span>0.5 K</span>
            </div>
             <div class="chart-svg">
              <svg viewBox="0 0 36 36" class="circular-chart orange">
        <path class="circle-bg" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"></path>
        <path class="circle" stroke-dasharray="90, 100" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"></path>
        <text x="18" y="20.35" class="percentage">90%</text>
      </svg>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}